<h1>御邦医通——UI设计——规范</h1>

<ul class="home-li">

	<li> <%= link_to "色彩", specs_colors_path %> </li>
	<li> <%= link_to "字体", specs_fonts_path %> </li>
	<li> <%= link_to "按钮", specs_buttons_path %> </li>
	<li> <%= link_to "图标", specs_icons_path %> </li>
	<li> <%= link_to "图片", specs_images_path %> </li>
	<li> <%= link_to "输入框", specs_inputs_path %> </li>

</ul>